# Lab 5 Tasks

In this notebook we will analyse a dataset related to the London 2012 Olympics by using the Pandas library. In the dataset, each row represents a different country described by a number of features:

- *ISO:* Unique short ISO country code
- *Country*: Full country name
- *Gold*: Number of gold medals won by the country in 2012
- *Silver*: Number of silver medals won by the country in 2012
- *Bronze*: Number of bronze medals won by the country in 2012
- *Population*: 2011 population for the country, from the World Bank

## Task 1

Load the CSV file "olympics2012.csv" into a Pandas Data Frame, where each row is indexed by its ISO country code. Check the number of rows and the column names in the Data Frame.

In [2]:
import pandas as pd

df = pd.read_csv('lab05-data/olympics2012.csv')
print(df)

    ISO        Country  Gold  Silver  Bronze  Population
0   AFG    Afghanistan     0       0       1    35320445
1   ARG      Argentina     1       1       2    40764561
2   ARM        Armenia     0       1       2     3100236
3   AUS      Australia     7      16      12    22620600
4   AZE     Azerbaijan     2       2       6     9168000
..  ...            ...   ...     ...     ...         ...
80  UKR        Ukraine     6       5       9    45706100
81  USA  United States    46      29      29   311591917
82  UZB     Uzbekistan     1       0       3    29341200
83  VEN      Venezuela     1       0       0    29278000
84  ZAF   South Africa     3       2       1    50586757

[85 rows x 6 columns]

Display the first 15 rows of the data.

In [3]:
df_first15 = pd.read_csv('lab05-data/olympics2012.csv', nrows=15)

print(df_first15)

    ISO      Country  Gold  Silver  Bronze  Population
0   AFG  Afghanistan     0       0       1    35320445
1   ARG    Argentina     1       1       2    40764561
2   ARM      Armenia     0       1       2     3100236
3   AUS    Australia     7      16      12    22620600
4   AZE   Azerbaijan     2       2       6     9168000
5   BEL      Belgium     0       1       2    11008000
6   BGR     Bulgaria     0       1       1     7476000
7   BHR      Bahrain     0       0       1     1323535
8   BHS      Bahamas     1       0       0      347176
9   BLR      Belarus     3       5       5     9473000
10  BRA       Brazil     3       5       9   196655014
11  BWA     Botswana     0       1       0     2030738
12  CAN       Canada     1       5      12    34482779
13  CHE  Switzerland     2       2       0     7907000
14  CHN        China    38      27      22  1344130000

Show the top 10 countries with the highest number of gold medals at the 2012 Olympics.

In [4]:
df.sort_values(by=['Gold'], inplace=True, ascending=False)

print(df.head(10))

    ISO             Country  Gold  Silver  Bronze  Population
81  USA       United States    46      29      29   311591917
14  CHN               China    38      27      22  1344130000
30  GBR       Great Britain    29      17      19    60924000
66  RUS  Russian Federation    24      25      33   141930000
47  KOR         Korea, Rep.    13       8       7    49779000
28  FRA              France    11      11      12    65436552
19  DEU             Germany    11      19      14    81726000
42  ITA               Italy     8       9      11    60770000
37  HUN             Hungary     8       4       5     9971000
45  KAZ          Kazakhstan     7       1       5    16558459

## Task 2

Create a new column in the Data Frame called "Total" which indicates the total number of medals won by each country. Show the top 10 countries with the highest number of total medals.

In [5]:
from matplotlib.pyplot import axis


df['Total'] = df.iloc[:,[2,3,4]].sum(axis = 1)
df.sort_values(by=['Total'], inplace=True, ascending=False)
print(df.head(10))

    ISO             Country  Gold  Silver  Bronze  Population  Total
81  USA       United States    46      29      29   311591917    104
14  CHN               China    38      27      22  1344130000     87
66  RUS  Russian Federation    24      25      33   141930000     82
30  GBR       Great Britain    29      17      19    60924000     65
19  DEU             Germany    11      19      14    81726000     44
44  JPN               Japan     7      14      17   127817277     38
3   AUS           Australia     7      16      12    22620600     35
28  FRA              France    11      11      12    65436552     34
47  KOR         Korea, Rep.    13       8       7    49779000     28
42  ITA               Italy     8       9      11    60770000     28

Display the subset of countries which:
1. Won 20 or more gold medals
2. Won 25 or more total medals
3. Won only bronze medals

In [6]:
print(df[df["Gold"] >= 20])

print("\n")

print(df[df["Total"] >= 25])

print("\n")

print( df[(df["Gold"] == 0) & (df["Silver"]==0) & (df["Bronze"]>0)  ])

    ISO             Country  Gold  Silver  Bronze  Population  Total
81  USA       United States    46      29      29   311591917    104
14  CHN               China    38      27      22  1344130000     87
66  RUS  Russian Federation    24      25      33   141930000     82
30  GBR       Great Britain    29      17      19    60924000     65


    ISO             Country  Gold  Silver  Bronze  Population  Total
81  USA       United States    46      29      29   311591917    104
14  CHN               China    38      27      22  1344130000     87
66  RUS  Russian Federation    24      25      33   141930000     82
30  GBR       Great Britain    29      17      19    60924000     65
19  DEU             Germany    11      19      14    81726000     44
44  JPN               Japan     7      14      17   127817277     38
3   AUS           Australia     7      16      12    22620600     35
28  FRA              France    11      11      12    65436552     34
47  KOR         Korea, Rep.    13       8       7    49779000     28
42  ITA               Italy     8       9      11    60770000     28


    ISO       Country  Gold  Silver  Bronze  Population  Total
64  QAT         Qatar     0       0       2     1870041      2
32  GRC        Greece     0       0       2    11304000      2
68  SGP     Singapore     0       0       2     5183700      2
52  MDA       Moldova     0       0       2     3559000      2
51  MAR       Morocco     0       0       1    32272974      1
48  KWT        Kuwait     0       0       1     2818042      1
7   BHR       Bahrain     0       0       1     1323535      1
35  HKG     Hong Kong     0       0       1     7071600      1
74  TJK    Tajikistan     0       0       1     6976958      1
67  SAU  Saudi Arabia     0       0       1    28082541      1
0   AFG   Afghanistan     0       0       1    35320445      1

## Task 3

Create a new column called "WeightedTotal", which computes a weighted total for the number of medals won by each country, with weights: Gold=3, Silver=2, Bronze=1. 

Display the top 10 countries according to this score.

In [7]:
df["WeightedTotal"] = 3*df["Gold"] + 2*df["Silver"] + df["Bronze"]
df.sort_values(by=['WeightedTotal'], inplace=True, ascending=False)

print(df.head(10))

    ISO             Country  Gold  Silver  Bronze  Population  Total  \
81  USA       United States    46      29      29   311591917    104
14  CHN               China    38      27      22  1344130000     87
66  RUS  Russian Federation    24      25      33   141930000     82
30  GBR       Great Britain    29      17      19    60924000     65
19  DEU             Germany    11      19      14    81726000     44
28  FRA              France    11      11      12    65436552     34
44  JPN               Japan     7      14      17   127817277     38
3   AUS           Australia     7      16      12    22620600     35
47  KOR         Korea, Rep.    13       8       7    49779000     28
42  ITA               Italy     8       9      11    60770000     28

    WeightedTotal
81            225
14            190
66            155
30            140
19             85
28             67
44             66
3              65
47             62
42             53

## Task 4

Create a new column "TotalPerPop" which is calculated as the total number of medals won by a country per million population.

Display the top 20 countries according to this score.

In [8]:
normalised_pop = df["Population"]/1000000


df["TotalPerPop"] = df["Total"] / normalised_pop
df_sorted = df.sort_values(by="TotalPerPop", ascending=False)

df.head(20)

,ISO,Country,Gold,Silver,Bronze,Population,Total,WeightedTotal,TotalPerPop
81,USA,United States,46,29,29,311591917,104,225,0.333770
14,CHN,China,38,27,22,1344130000,87,190,0.064726
66,RUS,Russian Federation,24,25,33,141930000,82,155,0.577750
30,GBR,Great Britain,29,17,19,60924000,65,140,1.066903
19,DEU,Germany,11,19,14,81726000,44,85,0.538384
28,FRA,France,11,11,12,65436552,34,67,0.519587
44,JPN,Japan,7,14,17,127817277,38,66,0.297299
3,AUS,Australia,7,16,12,22620600,35,65,1.547262
47,KOR,"Korea, Rep.",13,8,7,49779000,28,62,0.562486
42,ITA,Italy,8,9,11,60770000,28,53,0.460754
57,NLD,Netherlands,6,6,8,16696000,20,38,1.197892
37,HUN,Hungary,8,4,5,9971000,17,37,1.704944
80,UKR,Ukraine,6,5,9,45706100,20,37,0.437578
24,ESP,Spain,3,10,4,46235000,17,33,0.367687
10,BRA,Brazil,3,5,9,196655014,17,28,0.086446
45,KAZ,Kazakhstan,7,1,5,16558459,13,28,0.785097
16,CUB,Cuba,5,3,6,11253665,14,27,1.244039
59,NZL,New Zealand,5,3,5,4405200,13,26,2.951058
12,CAN,Canada,1,5,12,34482779,18,25,0.522000
41,IRN,"Iran, Islamic Rep.",4,5,3,74798599,12,25,0.160431