<h4></h4>

# <b>Task 1:</b> Data Collection & Initial Characterisation

In [20]:
import pandas as pd

df_list = pd.read_html("http://mlg.ucd.ie/modules/COMP30760/assign2/19202103.html")

df = df_list[0]

df.head(50)

,Date of Sale,Price,Location,Year Built,Size,Description
0,03 Jan 2016,"€638,740.00",Brookville,2011,"1,849 sq ft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
1,07 Jan 2016,"€546,330.00",Brookville,2009,"1,551 sq ft",Type: Detached; Style: 1-Story; 3 Bedrooms; 2 ...
2,07 Jan 2016,"€527,512.00",Brookville,2006,"1,696 sq ft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
3,10 Jan 2016,"€376,039.00",West End,1963,"1,073 sq ft",Type: Terraced; Style: 1-Story; 3 Bedrooms; 1 ...
4,10 Jan 2016,"€576,354.00",West End,2009,"2,054 sq ft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
5,12 Jan 2016,"€453,108.00",West End,2008,"1,653 sq ft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
6,12 Jan 2016,"€499,081.00",West End,2012,"1,793 sq ft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
7,16 Jan 2016,"€352,303.00",Oakbrook,1969,"1,060 sq ft",Type: Detached; Style: 1-Story; 3 Bedrooms; 1 ...
8,20 Jan 2016,"€705,562.00",Brookville,2013,"1,756 sq ft",Type: Detached; Style: 1-Story; 3 Bedrooms; 2 ...
9,"20 Jan, 2016","€369,296.00",Brookville,1995,982 sq ft,Type: Detached; Style: 1-Story; 3 Bedrooms; 1 ...
10,20 Jan 2016,"€356,643.00",Brookville,1987,942 sq ft,Type: Detached; Style: 1.5-Story; 4 Bedrooms; ...
11,08 Feb 2016,"€510,069.00",Brookville,2010,"1,777 sqft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
12,18 Feb 2016,"€617,901.00",West End,2007,"2,299 sq ft",Type: Detached; Style: 2-Story; 4 Bedrooms; 2 ...
13,18 Feb 2016,"€459,719.00",West End,1957,"2,398 sqft",Type: Detached; Style: 2-Story; 2 Bedrooms; 2 ...
14,23 Feb 2016,"€618,089.00",Brookville,2010,"1,677 sq ft",Type: Detached; Style: 1-Story; 3 Bedrooms; 2 ...
15,23 Feb 2016,"€454,276.00",West End,2008,"1,668 sqft",Style: 2-Story; 2 Bathrooms; Type: Detached; 3...
16,23 Feb 2016,"€479,459.00",West End,2016,"1,473 sqft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
17,23 Feb 2016,"€493,580.00",West End,1992,"1,354 sqft",Type: Detached; Style: 1-Story; 3 Bedrooms; 2 ...
18,06 Mar 2016,"€362,078.00",Oakbrook,1966,"1,075 sqft",Type: Terraced; Style: 1.5-Story; 2 Bedrooms; ...
19,10 Mar 2016,"€125,854.00",Rivermont,1949,702 sqft,Style: 1-Story; 2 Bedrooms; 1 Bathroom; Type: ...
20,10 Mar 2016,"€272,440.00",Rivermont,1930,"1,425 sq ft",1 Bathroom; Type: Bunaglow; 2 Bedrooms; Style:...
21,10 Mar 2016,"€344,152.00",Rivermont,1913,"1,741 sqft",Type: Terraced; Style: 2-Story; 4 Bedrooms; 2 ...
22,11 Mar 2016,"€900,805.00",Beacon Hill,2012,"1,842 sq ft",Type: Detached; 2 Bathrooms; 3 Bedrooms; Style...
23,14 Mar 2016,"€265,215.00",East End,1932,"1,231 sq ft",Type: Bunaglow; Style: 1-Story; 4 Bedrooms; 1 ...
24,14 Mar 2016,"€213,894.00",East End,1971,828 sqft,Type: Bunaglow; Style: 1-Story; 3 Bedrooms; 1 ...
25,14 Mar 2016,"€295,076.00",East End,1966,"1,476 sq ft",Type: Duplex; Style: 1-Story; 4 Bedrooms; 2 Ba...
26,14 Mar 2016,"€370,505.00",Oakbrook,1967,"1,134 sq ft",Type: Detached; Style: 1.5-Story; 3 Bedrooms; ...
27,14 Mar 2016,"€339,483.00",Oakbrook,1962,"1,268 sq ft",2 Bedrooms; Type: Detached; Style: 1-Story; 1 ...
28,14 Mar 2016,"€410,269.00",Oakbrook,1960,"1,313 sq ft",Type: Detached; Style: 1-Story; 3 Bedrooms; 1 ...
29,16 Mar 2016,"€485,405.00",Avoca,2007,"1,456 sq ft",Type: Semi-Detached; Style: 2-Story; 3 Bedroom...
30,16 Mar 2016,"€450,604.00",Beacon Hill,2011,"1,440 sq ft",Type: Semi-Detached; 2 Bathrooms; 2 Bedrooms; ...
31,"16 Mar, 2016","€750,645.00",Beacon Hill,2013,"2,105 sq ft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
32,16 Mar 2016,"€928,155.00",Beacon Hill,2013,"2,274 sq ft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
33,16 Mar 2016,"€924,694.00",Beacon Hill,2016,"1,632 sq ft",Type: Detached; Style: 1-Story; 2 Bedrooms; 2 ...
34,16 Mar 2016,"€557,401.00",Beacon Hill,2011,"1,334 sq ft",Style: 1-Story; 2 Bathrooms; Type: End-of-Terr...
35,16 Mar 2016,"€903,168.00",Beacon Hill,2009,"1,982 sq ft",Style: 1-Story; 3 Bedrooms; Type: Detached; 2 ...
36,21 Mar 2016,"€398,119.00",Oakbrook,1963,"1,535 sqft",Type: Detached; Style: 1.5-Story; 1 Bathroom; ...
37,26 Mar 2016,"€417,526.00",Oakbrook,1972,"1,262 sq ft",Type: Detached; Style: 1-Story; 3 Bedrooms; 1 ...
38,07 Apr 2016,"€257,253.00",East End,1959,"1,226 sqft",Type: Bunaglow; Style: 1-Story; 2 Bedrooms; 1 ...
39,08 Apr 2016,"€432,317.00",Avoca,2008,"1,363 sq ft",2 Bathrooms; 3 Bedrooms; Type: End-of-Terrace;...
40,08 Apr 2016,"€463,053.00",Avoca,2013,"1,241 sq ft",Type: Detached; Style: 1-Story; 3 Bedrooms; 2 ...
41,08 Apr 2016,"€681,028.00",Avoca,2018,"2,035 sqft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
42,13 Apr 2016,"€232,567.00",East End,1962,"1,109 sq ft",Type: Bunaglow; Style: 1-Story; 3 Bedrooms; 1 ...
43,14 Apr 2016,"€355,074.00",East End,2012,"1,735 sqft",Type: End-of-Terrace; Style: 2-Story; 3 Bedroo...
44,15 Apr 2016,"€658,500.00",Oakbrook,1976,"2,085 sq ft",Type: Detached; Style: 1-Story; 3 Bedrooms; 2 ...
45,18 Apr 2016,"€271,971.00",Oakbrook,1963,818 sq ft,Type: Bunaglow; Style: 1-Story; 2 Bedrooms; 1 ...
46,18 Apr 2016,"€358,572.00",Oakbrook,1957,"1,011 sq ft",Type: Detached; Style: 1-Story; 2 Bedrooms; 1 ...
47,20 Apr 2016,"€353,045.00",Rivermont,1918,"1,918 sq ft",Type: Terraced; Style: 2-Story; 4 Bedrooms; 2 ...
48,20 Apr 2016,"€412,295.00",Rivermont,1912,"1,627 sq ft",Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
49,"20 Apr, 2016","€474,058.00",West End,2008,"1,447 sq ft",Type: Detached; Style: 1.5-Story; 3 Bedrooms; ...

In [21]:
df.dtypes

Date of Sale    object
Price           object
Location        object
Year Built       int64
Size            object
Description     object
dtype: object

In [22]:
#Pre-Processing: Fix Date
#String to Datetime for 'Date of Sale' index Column
from datetime import datetime

def fix_date(x):
    comma = ","

    if comma in x:
        date_object = datetime.strptime(str(x), '%d %b, %Y') #Converting Year-Month-Day TIME format into a datetime
    else:
        date_object = datetime.strptime(str(x), '%d %b %Y') #Converting Year-Month-Day TIME format into a datetime
    return date_object


df['Date of Sale'] = df['Date of Sale'].apply(lambda x: fix_date(x))

print(df['Date of Sale'])

0     2016-01-03
1     2016-01-07
2     2016-01-07
3     2016-01-10
4     2016-01-10
         ...
945   2019-12-15
946   2019-12-26
947   2019-12-27
948   2019-12-28
949   2019-12-29
Name: Date of Sale, Length: 950, dtype: datetime64[ns]

In [23]:
#Pre-Processing: Fix Price
import unicodedata

df['Price'] = df['Price'].str.replace(unicodedata.lookup('EURO SIGN'), '')

print(df.head(20))

   Date of Sale       Price    Location  Year Built         Size  \
0    2016-01-03  638,740.00  Brookville        2011  1,849 sq ft
1    2016-01-07  546,330.00  Brookville        2009  1,551 sq ft
2    2016-01-07  527,512.00  Brookville        2006  1,696 sq ft
3    2016-01-10  376,039.00    West End        1963  1,073 sq ft
4    2016-01-10  576,354.00    West End        2009  2,054 sq ft
5    2016-01-12  453,108.00    West End        2008  1,653 sq ft
6    2016-01-12  499,081.00    West End        2012  1,793 sq ft
7    2016-01-16  352,303.00    Oakbrook        1969  1,060 sq ft
8    2016-01-20  705,562.00  Brookville        2013  1,756 sq ft
9    2016-01-20  369,296.00  Brookville        1995    982 sq ft
10   2016-01-20  356,643.00  Brookville        1987    942 sq ft
11   2016-02-08  510,069.00  Brookville        2010   1,777 sqft
12   2016-02-18  617,901.00    West End        2007  2,299 sq ft
13   2016-02-18  459,719.00    West End        1957   2,398 sqft
14   2016-02-23  618,089.00  Brookville        2010  1,677 sq ft
15   2016-02-23  454,276.00    West End        2008   1,668 sqft
16   2016-02-23  479,459.00    West End        2016   1,473 sqft
17   2016-02-23  493,580.00    West End        1992   1,354 sqft
18   2016-03-06  362,078.00    Oakbrook        1966   1,075 sqft
19   2016-03-10  125,854.00   Rivermont        1949     702 sqft

                                          Description
0   Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
1   Type: Detached; Style: 1-Story; 3 Bedrooms; 2 ...
2   Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
3   Type: Terraced; Style: 1-Story; 3 Bedrooms; 1 ...
4   Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
5   Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
6   Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
7   Type: Detached; Style: 1-Story; 3 Bedrooms; 1 ...
8   Type: Detached; Style: 1-Story; 3 Bedrooms; 2 ...
9   Type: Detached; Style: 1-Story; 3 Bedrooms; 1 ...
10  Type: Detached; Style: 1.5-Story; 4 Bedrooms; ...
11  Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
12  Type: Detached; Style: 2-Story; 4 Bedrooms; 2 ...
13  Type: Detached; Style: 2-Story; 2 Bedrooms; 2 ...
14  Type: Detached; Style: 1-Story; 3 Bedrooms; 2 ...
15  Style: 2-Story; 2 Bathrooms; Type: Detached; 3...
16  Type: Detached; Style: 2-Story; 3 Bedrooms; 2 ...
17  Type: Detached; Style: 1-Story; 3 Bedrooms; 2 ...
18  Type: Terraced; Style: 1.5-Story; 2 Bedrooms; ...
19  Style: 1-Story; 2 Bedrooms; 1 Bathroom; Type: ...

In [24]:
#Pre-Processing: Fix Size
#Need to remove comma and ' sq ft'

df['Size'] = df['Size'].str.replace(' sq ft', '')
df['Size'] = df['Size'].str.replace(' sqft', '')

In [42]:
#Pre-Processing: Fix Description Pt1: Create Type Column 

t_1 = "Type: Detached"
t_2 = "Type: Terraced"
t_3 = "Type: Bunaglow"
t_4 = "Type: Semi-Detached"
t_5 = "Type: Duplex"
t_6 = "Type: End-of-Terrace"
house_type = ""

def make_type(x):
    if t_1 in x:
        house_type = t_1.replace("Type: ", "")
        return house_type
    if t_2 in x:
        house_type = t_2.replace("Type: ", "")
        return house_type
    if t_3 in x:
        house_type = t_3.replace("Type: ", "")
        return house_type
    if t_4 in x:
        house_type = t_4.replace("Type: ", "")
        return house_type
    if t_5 in x:
        house_type = t_5.replace("Type: ", "")
        return house_type
    if t_6 in x:
        house_type = t_6.replace("Type: ", "")
        return house_type

df['Type'] = df['Description'].apply(lambda x: make_type(x))

In [43]:
#Pre-Processing: Fix Description Pt2: Create Style Column 
s_1 = "Style: 1-Story"
s_2 = "Style: 1.5-Story"
s_3 = "Style: 2-Story"
s_4 = "Style: 2-Story"
house_style = ""


def make_style(x):
    if s_1 in x:
        house_style = s_1.replace("Style: ", "")
        return house_style
    if s_2 in x:
        house_style = s_2.replace("Style: ", "")
        return house_style
    if s_3 in x:
        house_style = s_3.replace("Style: ", "")
        return house_style
    if s_4 in x:
        house_style = s_4.replace("Style: ", "")
        return house_style

df['Style'] = df['Description'].apply(lambda x: make_style(x))

950
950
950

In [ ]:
#Pre-Processing: Fix Style Column 
#Remove letters and make int

In [ ]:
#Pre-Processing: Fix Description Pt3: Create Bedrooms Column 
bed_1 = "1 Bedroom"
bed_2 = "2 Bedroom"
bed_3 = "3 Bedroom"
bed_4 = "4 Bedroom"
bed_5 = "5 Bedroom"

In [ ]:
#Pre-Processing: Fix Description Pt4: Create Bathrooms Column 
bath_1 = "1 Bathroom"
bath_2 = "2 Bathroom"
bath_3 = "3 Bathroom"

In [32]:
#Initial Characterisation #1: Top 10 Most Expensive Houses

0           Detached
1           Detached
2           Detached
3           Terraced
4           Detached
           ...
945    Semi-Detached
946         Detached
947         Bunaglow
948         Detached
949         Detached
Name: Type, Length: 950, dtype: object

In [ ]:
#Initial Characterisation #2: Top 10 Oldest Houses

In [ ]:
#Initial Characterisation #3: Top 10 Biggest Houses