# Lab 8 Tasks

In this notebook we will apply basic time series analysis to stock price data for Meta and Amazon, sourced from Yahoo Finance.

In [2]:
from datetime import datetime
import pandas as pd
import matplotlib
import matplotlib.pylab as plt
%matplotlib inline

### Task 1

Load the stock price CSV files for both Meta and Amazon into separate Pandas DataFrames.

Note: Dates in these files are stored in "day/month/year" format

In [7]:
dp = lambda x: datetime.strptime(x, "%d/%m/%Y")

In [12]:
df_meta = pd.read_csv("lab08-data/stock-meta.csv", index_col="date", parse_dates=True, date_parser=dp)
df_meta.head()

                  open        high         low       close
date
2021-01-04  274.779999  275.000000  265.200012  268.940002
2021-01-05  268.290009  272.399994  268.209991  270.970001
2021-01-06  262.000000  267.750000  260.010010  263.309998
2021-01-07  265.899994  271.609985  264.779999  268.739990
2021-01-08  268.309998  268.950012  263.179993  267.570007

In [15]:
df_amazon = pd.read_csv("lab08-data/stock-amazon.csv", index_col="date", parse_dates=True, date_parser=dp)
df_amazon.head()

                  open        high         low       close
date
2021-01-04  163.500000  163.600006  157.201004  159.331497
2021-01-05  158.300507  161.169006  158.253006  160.925507
2021-01-06  157.324005  159.875504  156.557999  156.919006
2021-01-07  157.850006  160.427002  157.750000  158.108002
2021-01-08  159.000000  159.531998  157.110001  159.134995

### Task 2

For each of the DataFrames, extract only the **close** stock prices for the year 2021. This should give you two new Pandas Series.

In [9]:
df_meta_closing = df_meta['close']['2021']
df_meta_closing.head()

date
2021-01-04    268.940002
2021-01-05    270.970001
2021-01-06    263.309998
2021-01-07    268.739990
2021-01-08    267.570007
Name: close, dtype: float64

In [18]:
df_amazon_closed = df_amazon['close']['2021']
df_amazon_closed.head()

date
2021-01-04    159.331497
2021-01-05    160.925507
2021-01-06    156.919006
2021-01-07    158.108002
2021-01-08    159.134995
Name: close, dtype: float64

### Task 3

Create a new time series DataFrame with two columns, one for the Meta 2021 closing prices and one for the Amazon 2021 closing prices.

In [19]:
df_combined = pd.concat( [df_meta_closing,df_amazon_closed], axis=1)
df_combined.columns = ["Meta","Amazon"]
df_combined.head()

                  Meta      Amazon
date
2021-01-04  268.940002  159.331497
2021-01-05  270.970001  160.925507
2021-01-06  263.309998  156.919006
2021-01-07  268.739990  158.108002
2021-01-08  267.570007  159.134995

### Task 4

Plot the 2021 closing prices for Meta and Amazon, using a 7-day rolling mean.

### Task 5 

Resample the new DataFrame to monthly time windows, and plot the new monthly time series.